<!-- footer.tmpl -->
		<div id="links">
			<p>Links:</p>
			<ul>
			<li><a href="https://forums.eveonline.com/t/how-to-jedi-huff-in-wormholes-guide-prospect-venture/339800">How to Jedi Huff in Wormholes! Guide (Prospect & Venture)</a></li>
			<li><a href="https://www.docdroid.net/dieC85y/jedi-mind-tricks-pdf#page=4">Jedi Mind Tricks: A Gas Huffing Guide</a></li>
			</ul>
		</div>
	</body>
</html>