<!-- header.tmpl -->
<html>
	<head>
		<script type="text/javascript">
			window.addEventListener("load", function(){
				Array.from(document.querySelectorAll('[tip]')).forEach(el => {
				  let tip = document.createElement('div');
				  tip.classList.add('tooltip');
				  tip.innerText = el.getAttribute('tip');
				  let delay = el.getAttribute('tip-delay');
				  if (delay) {
				    tip.style.transitionDelay = delay + 's';
				  }
				  tip.style.transform =
				    'translate(' +
				      (el.hasAttribute('tip-left') ? 'calc(-100% - 5px)' : '15px') + ', ' +
				      (el.hasAttribute('tip-top') ? '-100%' : '0') +
				    ')';
				  el.appendChild(tip);
				  el.onmousemove = e => {
				    tip.style.left = e.clientX + 'px'
				    tip.style.top = e.clientY + 'px';
				  };
				});
			});
			function systenNameClicked(elem) {
				console.log(document.getElementById('add_system_name'));
				document.getElementById('add_system_name').value = elem.getAttribute('data-system-name');
			};
		</script>
		<svg height="0" width="0" style="visibility:none">
			<filter id="green" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
				<feColorMatrix type="matrix"
					values="0   0 0 0 0 
						0.8 0 0 0 0	
						0   0 0 0 0 
						0   0 0 1 0" />
			</filter>
			<filter id="red" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
				<feColorMatrix type="matrix"
					values="1 0 0 0 0 
						0 0 0 0 0	
						0 0 0 0 0 
						0 0 0 1 0" />
			</filter>
		</svg>
		<style>
			body {
				margin: 0;
				position: relative;
				font-family: monospace;
				font-size: 1em;
			}

			body:before {
				background: url(bg.jpg) no-repeat center / cover;
				background-attachment: fixed;
				content: '';
				position: absolute;
				left: 0; right: 0; top: 0; bottom: 0;
				z-index: -1;
				opacity: 0.4;
			}

			.container {
				position: relative;
			}

			td {
				vertical-align:top
			}

			.system_name {
				color: #000099;
				cursor: pointer;
			}

			.group_besieged {
				color: #FF0099;
				font-weight: bold;
			}

			.group_combat {
				color: #440000;
			}

			.group_gas {
				color: #99FF00;
				font-weight: bold;
			}

			.group_wormhole {
				color: #997700;
				font-weight: bold;
			}

			.system-list-wrapper {
				width: 100%;
				overflow-x: auto;
			}

			.system_list {
				display:flex;

			}

			.sig_details {
				background: rgba(255, 255, 255, 0.2);
				padding: .2em .3em .2em .3em;
				margin: .1em;
				display: flex;
				align-items:center;
				cursor: pointer;
			}

			.sig_details.sig_highlight {
				background: rgba(100, 0, 0, 0.1);
				padding: .2em .3em .2em .3em;
				margin: .1em;
				display: flex;
				align-items:center;
				cursor: pointer;
			}

			.sig_icon {
				width: 1em;
				height: 1em;
				padding-right: .3em;
				mix-blend-mode: normal;
				z-index:999;
			}
			.sig_icon_green {
				filter: url(#green);

			}
			.sig_icon_red {
				filter: url(#red);
			}

			#system_list >div {
				width: 13.7em;
				flex-shrink: 0;
			}

			.system_highlight {
				background: rgba(100, 0, 10, 0.1);
			}

			[tip] .tooltip {
				position: fixed;
				font-size: 1em;
				line-height: 1.2em;
				padding: .3em;
				background: white;
				border: 1px solid #ccc;
				visibility: hidden;
				box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
				opacity: 0;
				transition:
					opacity 0.3s,
					visiblity 0s;
			}
			[tip]:hover .tooltip {
				visibility: visible;
				opacity: 1;
				z-index: 1000;
			}
		</style>
		<title>path-o-logical</title>
	</head>
	<body>
		<div class="container">
			<center><img src="logo.png"></center>
