<!-- system_add.tmpl -->
		<form id="add" method="POST">
			<input type="hidden" id="action" name="action" value="add">
			<div id="add">
				<table>
					<tr>
						<td>System:</td>
						<td><input name="system_name" id="system_name" type="text"></input></td>
					</tr>
					<tr>
						<td>Sigs:</td>
						<td><textarea name="system_sigs" id="system_sigs"></textarea></td>
					</tr>
					<tr>
						<td></td>
						<td><center><input type="submit" value="Update" /></center></td>
					</tr>
				</table>
			</div>
		</form>
