<!-- system_display.tmpl -->
					<div class="{{SYSTEM_HIGHLIGHT}}">
						<form id="remove_system_{{SYSTEM_NAME}}" method="POST">
							<input type="hidden" id="system_name" name="system_name" value="{{SYSTEM_NAME}}">
							<input type="hidden" id="action" name="action" value="remove">
							<table id="__system_{{SYSTEM_NAME}}">
								<tr>
									<td class="system_name">
										<b>
											<center>
<span id="system_name" data-system-name="{{SYSTEM_NAME}}" onclick="systenNameClicked(this)">{{SYSTEM_NAME}}</span>
											</center>
										</b>
									</td>
								</tr>
								<tr>
									<td>
{{SYSTEM_SIGS}}
									</td>
								</tr>
								<tr>
									<td>
										<center>
											<input type="submit" value="Remove" onclick="return confirm('Are you sure?');"/>
										</center>
									</td>
								</tr>
							</table>
						</form>
					</div>
