<!-- system_row.tmpl -->
<div tip="{{SIG_DETAILS}}" class="sig_details">
<img src="img/{{SIG_IMG}}" class="sig_icon sig_icon_{{SIG_IMG_COLOUR}}">{{SIG_ID}}&nbsp;<span class="{{SIG_GROUP_CLASS}}">{{SIG_GROUP}}</span>&nbsp;{{SIG_SCAN_AGE}}
</div>
